*.asv
*.scp
lab/1/archive/
sketch_oct01a/
*.swp
add_deliverables.bash
~\$*.*
*/archive/*
*/lab_package_v*
*/lab/6/examples*
lab/6/matlab_code/archive/
lab/6/examples/
lab/5/arduino_code/11.11.2018_test/
lab/3/matlab_code/testing/
lab/5/matlab_code/testing/
lab/6/arduino_code/ece303_lab6_load/
